@model IEnumerable<ProjectCoffeeShop.Models.order>

@{
    ViewData["Title"] = "Order";
}

<partial name="../Shared/header.cshtml">

<div class="container container-table table-responsive">
    <table id="tableItems" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th class="th-sm">Customer</th>
            <th class="th-sm">OrderItems</th>
            <th class="th-sm">TotalCost</th>
            <th class="th-sm">Date</th>
            <th class="th-sm">Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model) {
            var TargetId="modalN"+@item.Id;
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.FName)
            </td>
            <td>
                @foreach (var orderitem in item.Items)
               {
                   @Html.DisplayFor(modelItem =>orderitem.Name )
               }
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
        
            <td class='text-center'>

                 <a class='btn btn-primary btn-table-action' asp-action="Edit" asp-route-id="@item.Id"> <i class='fas fa-edit'></i></a>
<form  id="@item.Id"
                                method="post"
                                type="submit"
                                asp-action="Delete"
                                asp-route-id="@item.Id" 
                                onclick="return functionConfirm('@item.Id')">
                                <i class="btn btn-danger btn-table-action fa fa-trash"  onclick="return functionConfirm(@item.Id)"> </i></form>       
                             <a class='btn btn-primary btn-table-action' data-toggle="modal" data-target="#@TargetId"> <i class='fas fa-info'></i></a>

            </td>
        </tr>
                 <div class="modal fade" id=@TargetId  aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h4 class="modal-title" id="modalScrollableTitle">User Detail</h4>
                              
                            </div>
                            <div class="modal-body">

                                <div class="row">
                  <!-- User Card -->
               <div class="py-4">
                      
                      
                      <div class="info-container">
                        <ul class="list-unstyled">
                          <li class="mb-3">
                            <span class="fw-bold me-2">User Name:</span>
                            <span>@Html.DisplayFor(model => item.OrderDate)</span>
                          </li>
                         
                         
                          <li class="mb-3">
                            <span class="fw-bold me-2">Email</span>
                            <span>@Html.DisplayFor(model => item.Customer)</span>
                          </li>
                      
                          
                     
                          
                        </ul>

                       <hr/>
                       <br>
                                  </div>
                              </div>
                            </div>
                          </div>
                              
                            <div class="modal-footer">
                              <button type="button" class="btn btn-danger" data-dismiss="modal">
                                Cancel
                              </button>
                         
                            </div>
                          </div>
                        </div>
                      </div>
}
  </tbody>
           
        

        
    </table>
</div>





